In [1]:
import pandas as pd
import numpy as np
import random
from tqdm import tqdm
from gensim.models import Word2Vec 
import matplotlib.pyplot as plt
%matplotlib inline

import warnings;
warnings.filterwarnings('ignore')

In [5]:
file_path = "C://Users//lenovo//Desktop//7LYTIX//online_retail_II.csv"
df = pd.read_csv(file_path, encoding= 'ISO-8859-1')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [6]:
df.shape

(1048575, 8)

In [7]:
# check for missing values
df.isnull().sum()

Invoice             0
StockCode           0
Description      4372
Quantity            0
InvoiceDate         0
Price               0
Customer ID    236682
Country             0
dtype: int64

In [8]:
# remove missing values
df.dropna(inplace=True)

In [9]:
df['StockCode']= df['StockCode'].astype(str)

In [13]:
customers = df["Customer ID"].unique().tolist()
len(customers)

5924

In [15]:
# shuffle customer ID's
random.shuffle(customers)

# extract 90% of customer ID's
customers_train = [customers[i] for i in range(round(0.9*len(customers)))]

# split data into train and validation set
train_df = df[df['Customer ID'].isin(customers_train)]
validation_df = df[~df['Customer ID'].isin(customers_train)]

In [17]:
# list to capture purchase history of the customers
purchases_train = []

# populate the list with the product codes
for i in tqdm(customers_train):
    temp = train_df[train_df["Customer ID"] == i]["StockCode"].tolist()
    purchases_train.append(temp)

100%|██████████| 5332/5332 [00:08<00:00, 611.41it/s]

In [18]:
# list to capture purchase history of the customers
purchases_val = []

# populate the list with the product codes
for i in tqdm(validation_df['Customer ID'].unique()):
    temp = validation_df[validation_df["Customer ID"] == i]["StockCode"].tolist()
    purchases_val.append(temp)

100%|██████████| 592/592 [00:00<00:00, 989.94it/s]